---
---

@import "{{ site.theme }}";

body {
   background: #f2f2f2;
}

.inner {
    max-width: 830px;
    width: 830px;
}

@media screen and (max-width: 480px) {
  .outer {
    width: 480px;
  }

  body {
    font-size:14px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (max-width: 320px) {
  .outer {
    width: 320px;
  }

  body {
    font-size:14px;
  }

  .inner {
    min-width: 240px;
    max-width: 320px;
  }
}
