---
---

@import "{{ site.theme }}";

.inner {
    max-width: 480px;
    min-width: 320px;
//    width: 830px;
}

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size:14px;
  }

  .inner {
    min-width: 240px;
    max-width: 320px;
  }  
}
